name: Build Psych Extended

on: workflow_dispatch

jobs:
  Build:
    name: ${{ matrix.name }}
    strategy:
      matrix:
        include:
          - name: Windows
            os: windows-2022
            buildArgs: "windows -D officialBuild -final"
            setupCommand: .\"setup/windows.bat"
            artifactName: windowsBuild-x86_64
            artifactPath: export\release\windows\bin\*
            system: Windows

          - name: Windows-Debug
            os: windows-2022
            buildArgs: "windows -D officialBuild -D debugBuild -D ENABLE_NOVA -final"
            setupCommand: .\"setup/windows.bat"
            artifactName: windowsDebugBuild-x86_64
            artifactPath: export\release\windows\bin\*
            system: Windows

    uses: ./.github/workflows/build.yml
    with:
        name: ${{ matrix.name }}
        os: ${{ matrix.os }}
        buildArgs: ${{ matrix.buildArgs }}
        setupCommand: ${{ matrix.setupCommand }}
        artifactName: ${{ matrix.artifactName }}
        artifactPath: ${{ matrix.artifactPath }}
        system: ${{ matrix.system }}
